@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
/* navbar */
.navbar-wrap {
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-wrap {
  background-color: #ff5757;
  border-radius: 10%;
  width: 60px;
  height: 60px;
  padding-inline: 5px;
  padding-top: 5px;
}
.img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.nav-menu-item {
  font-size: 1.4rem;
}
.hamburger-menu {
  font-size: 1.7rem;
}
/* navbar-end */

/* section-1 */
.section-1 {
  width: 100%;
  height: 100vh;
  background-color: #ff4848;
  padding-inline: 2.5rem;
  padding-block: 1.5rem;
}
.section-1-container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}
.hero-text {
  font-size: 3.5rem;
  font-weight: bold;
}
.white-text {
  color: white;
}
.black-text {
  color: black;
}
.hero-section-1 {
  /* border:1px solid blue;
    padding:10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-section-1-img-wrap {
  width: 200px;
  height: 250px;
}
.hero-section-1-img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-img-section-1 {
  /* border:1px solid green; */
  display: flex;
  align-items: center;
  /* height: 100%; */
}
.section-1-img-wrap {
  width: 750px;
  height: 750px;
}
.section-1-img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.para-tag {
  align-self: flex-end;
  font-size: 1.7rem;
  font-weight: bold;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
/* section-1 end */

/* section-2 */
.section-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  padding-inline: 2.5rem;
  padding-block: 3.5rem;
}
.section-2-container {
  /* border: 1px solid green; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 80%;
}
.section-2-wrap-1 {
  /* border: 1px solid purple; */
}
.section-2-heading {
  font-size: 2.8rem;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-weight: bold;
}
.section-2-wrap-2 {
  /* border: 1px solid blue; */
}
.section-2-sub-heading {
  font-size: 1.7rem;
  text-align: center;
  width: 95%;
  margin: 0 auto;
  font-weight: 600;
}
.section-2-wrap-3 {
  /* border:1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}
.section-2-button-wrap-1 {
  padding-inline: 2rem;
  padding-block: 1rem;
  font-size: 2.5rem;
  border: 3px solid black;
  background-color: white;
  border-radius: 1rem;
  font-weight: 700;
  color: #ff3131;
}
.section-2-button-wrap-2 {
  padding-inline: 2rem;
  padding-block: 1rem;
  font-size: 2.5rem;
  border: 3px solid black;
  background-color: #ff3131;
  border-radius: 1rem;
  font-weight: 700;
  color: white;
}
/* section-2 end */

/* section-3 */
.section-3 {
  width: 100%;
  height: 90vh;
  padding-inline: 2.5rem;
  padding-block: 3.5rem;
  background-color: #ffcece;
  display: flex;
  align-items: center;
}
.section-3-container {
  /* border: 1px solid green; */
  padding: 10px;
  display: flex;
  gap: 3rem;
  align-items: center;
}
.section-3-wrap-1 {
  /* border: 1px solid purple; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 30%;
  /* align-items: end; */
}
.section-3-heading {
  /* border: 1px solid blue; */
  /* width: 65%; */
}
.section-3-sub-heading {
  /* border: 1px solid orange; */
  /* width: 60%; */
}
.section-3-bold-text {
  font-size: 3rem;
  font-weight: 700;
  /* width:55%; */
  line-height: 3.5rem;
}
.section-3-light-text {
  font-size: 1.1rem;
  font-weight: 700;
  width: 80%;
  line-height: 1.3rem;
}
.section-3-wrap-2 {
  /* border: 1px solid red; */
  padding: 10px;
  display: grid;
  grid-template-columns: 280px 280px;
  gap: 2.5rem;
}
.section-3-card-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border: 2px solid black;
  border-radius: 1rem;
  padding-inline: 0.5rem;
  padding-block: 1rem;
  background-color: white;
}
.section-3-card-heading {
  /* border: 1px solid rgb(198, 44, 70); */
}
.section-3-card-sub-heading {
  /* border: 1px solid greenyellow; */
}
.section-3-text-heading {
  font-size: 1rem;
  font-weight: 800;
}
.section-3-text-sub-heading {
  font-size: 0.8rem;
  font-weight: 600;
}
/* section-3 end */
/* section-4 */
.section-4 {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-4-container {
  /* border: 1px solid green; */
  position:relative;
  padding-inline: 2rem;
  padding-block: 2rem;
  background-color: #ffcece;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
  border-radius: 1.5rem;
}
.section-4-cloud-img{
    position:absolute;
    width:100px;
}
.img-wrap-1{
    left:-30px;
}
.img-wrap-2{
    left:-25px;
    top:120px;
}
.img-wrap-3{
    right:0;
}
.img-wrap-4{
    bottom:10px;
    right:30px;
}
.section-4-img-wrap {
  /* border:1px solid purple; */
  margin: 0 auto;
}
.section-4-img-wrap img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.section-4-heading {
  /* border:1px solid red; */
}
.section-4-description {
  /* border:1px solid blue; */
}
.section-4-text-heading {
  font-size: 2.1rem;
  font-weight: 700;
  text-align: center;
}
.section-4-text-description {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.6rem;
  font-weight: 300;
}
/* section-4 end */

/* section-5 */
.section-5 {
  width: 100%;
  height: 90vh;
  background-color: #182527;
  padding-inline: 3rem;
  padding-block: 4rem;
}
.section-5-container {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
}
.section-5-card-wrap {
  /* border:1px solid blue; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width:70%;
}
.section-5-img-wrap {
  /* border: 1px solid yellow; */
  padding: 20px;
  height: 250px;
  width:100%;
}
.section-5-img-wrap img{
width:100%;
height:100%;
object-fit: cover;
}
.section-5-heading {
  color: #ff3131;
}
.section-5-description {
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  width: 80%;

}
.section-5-card-container {
  display: grid;
  /* gap: 2.5rem; */
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2rem;
  place-items:center;
  align-items: start;
}
.section-5-card-heading {
  border-left: 5px solid #ff4848;
  padding-left: 20px;
  padding-bottom: 10px;
}
.section-5-text-heading {
  font-size: 1.5rem;
  color: #ff3131;
  font-weight: 700;
}
.section-5-text-sub-heading {
  font-size: 2rem;
  color: white;
  text-align: center;
}
/* section-5 end */

/* section-6 */
.section-6 {
  width: 100%;
  height: 90vh;
  background-color: #ff4848;
  padding-inline: 3rem;
  padding-block: 4rem;
}
.section-6-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section-6-heading {
  font-size: 2.3rem;
  color: white;
  font-weight: 700;
}
.section-6-description {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}
.section-6-img-wrap {
  border: 2px solid black;
  /* width: 100%; */
  width:100%;
  height: 230px;
}
.section-6-img-wrap img{
  width:100%;
  height:100%;
  object-fit: cover;
  aspect-ratio: 1/4;
}
.section-6-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1.2rem;
  margin-top: 3rem;
}
.section-6-card-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.section-6-card-text {
  /* border: 1px solid green; */
}
.section-6-text-heading {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
.section-6-text-sub-heading {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
/* section-6 end */

/* section-7 */
.section-7 {
  width: 100%;
  height: 90vh;
  padding-inline: 4.5rem;
  padding-block: 3rem;
}
.section-7-container {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section-7-heading {
  color: #ff3131;
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  width: 35%;
  margin: 0 auto;
}
.black-heading {
  color: #231f1f;
}
.section-7-card-container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 1rem;
}
.section-7-card-wrap {
  background-color: #f1e4e4;
  border-radius: 1.8rem;
  padding-inline: 1.5rem;
  padding-block: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 450px;
  width: 350px;
}
.section-7-text-heading {
  color: #ff3131;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}
.section-7-text-description {
  font-size: 1.1rem;
  font-weight: 200;
  text-align: center;
  width: 95%;
  margin: 0 auto;
}
/* section-7 end */

/* section-8 */
.section-8{
  width:100%;
  height:90vh;
  background-color: #ff4848;
  padding-inline:3rem;
  padding-block:2rem;
}
.section-8-container {
  /* border:1px solid green; */
}
.section-8-img-wrap{
  width:100%;
  height:300px;
}
.section-8-img-wrap img{
  width:100%;
  height:100%;
  object-fit: cover;
}
/* media query */

@media screen and (max-width: 768px) {
  /* section-1 */
  .section-1 {
    flex-direction: column;
    height: 100%;
  }
  .hero-text {
    font-size: 3rem;
    text-align: center;
  }
  .para-tag {
    font-size: 1rem;
    width: 100%;
    text-align: center;
  }
  .section-1-img-wrap {
    display: none;
  }
  .hero-section-1-img-wrap {
    width: 180px;
    height: 200px;
    margin: 0 auto;
  }
  .section-1-container {
    justify-content: center;
  }
  .hero-section-1 {
    width: 100%;
  }
  .hero-img-section-1 {
    display: flex;
    justify-content: center;
  }
  .hero-section-1:nth-child(2) {
    display: none;
  }
  /* section-1 end */
  /* section-2 */
  .section-2-heading {
    font-size: 1.2rem;
    width: 100%;
  }
  .section-2-button-wrap-1 {
    font-size: 1.2rem;
  }
  .section-2-button-wrap-2 {
    font-size: 1.2rem;
  }
  .section-2-wrap-3 {
    flex-direction: column;
    gap: 1.5rem;
  }
  .section-2-container {
    max-width: 100%;
    gap: 2rem;
  }
  .section-2-sub-heading {
    width: 100%;
    font-size: 1rem;
  }
  .section-2 {
    padding-inline: 10px;
    padding-block: 20px;
  }
  /* section-2 end */
  /* section-3 */
  .section-3-container {
    flex-direction: column;
  }
  .section-3-bold-text {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
  .section-3-wrap-2 {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .section-3-text-heading {
    font-size: 0.8rem;
  }
  .section-3-text-sub-heading {
    font-size: 0.5rem;
    line-height: 0.7rem;
  }
  .section-3-card-wrap {
    gap: 0.3rem;
  }
  .section-3-light-text {
    font-size: 0.8rem;
    width: 100%;
    line-height: 1rem;
  }
  .section-3-wrap-1 {
    min-width: 100%;
    gap: 1rem;
  }
  .section-3 {
    height: 100%;
    padding-inline: 1.2rem;
  }
  /* section-3 end */
  /* section-4 */
  .section-4 {
    height: 100%;
  }
  .section-4-container {
    width: 100%;
    padding-inline: 0.5rem;
    padding-block: 1rem;
    gap: 0.8rem;
    margin: 1.5rem;
  }
  .section-4-text-heading {
    font-size: 1.5rem;
  }
  .section-4-text-description {
    font-size: 1rem;
  }
  .section-4-cloud-img{
    width:50px;
}
.img-wrap-1{
    left:-10px;
}
.img-wrap-2{
    left:-15px;
    top:80px;
}
.img-wrap-4{
    bottom:0;
}
  /* section-4 end */

  /* section-5 */
  .section-5 {
    height: 100%;
    padding-inline: 2rem;
    padding-block: 3rem;
  }
  .section-5-card-container {
    grid-template-columns: 1fr;
    gap:1rem;
  }
  .section-5-card-heading {
    border-left: 4px solid #ff4848;
    padding-left: 12px;
    padding-bottom: 2px;
  }
  .section-5-text-heading {
    font-size: 1.1rem;
  }
  .section-5-text-sub-heading {
    font-size: 0.8rem;
  }
  .section-5-heading {
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
  }
  .section-5-description {
    font-size: 1.1rem;
    text-align: center;
    width: 100%;
  }
  .section-5-img-wrap{
    height:190px;
    padding:1px;
  }
  /* section-5 end */

  /* section-6 */
  .section-6-card-container {
    grid-template-columns: 1fr;
  }
  .section-6 {
    height: 100%;
    padding-inline: 2rem;
    padding-block: 3rem;
  }
  .section-6-text-heading {
    text-align: justify;
  }
  .section-6-text-sub-heading {
    text-align: justify;
  }
  .section-6-heading {
    font-size: 1.8rem;
  }
  .section-6-description {
    font-size: 1.1rem;
    font-weight: 500;
  }
  /* section-6 end */

  /* section-7 */
  .section-7 {
    height: 100%;
    padding-inline: 2.2rem;
    padding-block: 2.5rem;
  }
  .section-7-card-container {
    grid-template-columns: 1fr;
  }
  .section-7-card-wrap {
    height: 350px;
    width: 80%;
    border-radius: 1.2rem;
    gap: 0.8rem;
  }
  .section-7-heading {
    width: 100%;
    font-size: 1.5rem;
  }
  .section-7-text-heading {
    color: #ff3131;
    font-size: 1rem;
    font-weight: 700;
  }
  .section-7-text-description {
    font-size: 0.8rem;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .section-2-heading {
    font-size: 2.3rem;
  }
  .section-2-sub-heading {
    font-size: 1.5rem;
  }
  .section-2-wrap-3 {
    flex-direction: row;
    gap: 3rem;
  }
  .section-2-button-wrap-1 {
    font-size: 1.8rem;
  }
  .section-2-button-wrap-2 {
    font-size: 1.8rem;
  }
  .section-3-wrap-2 {
    grid-template-columns: 230px 250px;
    gap: 1.5rem;
  }
  .section-4-container {
    margin: 2rem;
  }
  .section-4-text-description {
    width: 70%;
    margin: 0 auto;
  }
  .section-5-card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .section-5-text-heading {
    font-size: 1.5rem;
  }
  .section-5-text-sub-heading {
    font-size: 1.1rem;
    text-align: justify;
  }
  .section-6 {
    padding-inline: 3rem;
    padding-block: 2rem;
  }
  .section-6-img-wrap{
    height:300px;
  }
  .section-7-card-wrap {
    width: 55%;
  }
  .section-7-text-heading {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  .section-7-text-description {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .hero-section-1-img-wrap {
    width: 150px;
    height: 180px;
  }
  .section-1-img-wrap {
    width: 600px;
    height: 600px;
  }
  .para-tag {
    width: 90%;
    margin-top:rem;
  }
  .section-5-text-heading {
    font-size: 1.2rem;
  }
  .section-5-text-sub-heading {
    font-size: 1rem;
    font-weight: 300;
  }
  .section-5 {
    height: 100vh;
  }
  .section-7-heading {
    width: 50%;
  }
  .section-7-card-wrap {
    width: 95%;
  }
  .section-7-text-heading {
    margin-bottom: 0;
  }
  .section-7-text-heading {
    font-size: 1.2rem;
    font-weight: 700;
  }
  .section-7-text-description {
    font-size: 1.1rem;
  }

}
@media screen and (min-width: 1440px) {
    .hero-section-1-img-wrap {
  width: 250px;
  height: 300px;
}
    .section-1-img-wrap {
    width: 100%;
    height:700px;
  }
  .para-tag{
    font-size:2rem;
  }
}
